<template>
    <div>
        <table class="text-center font-bold">
            <tbody>
                <tr class="border-b border-gray-200 border-t">
                    <td class="td-print text-4xl bg-gray-300 items-center">
                        Queue #
                    </td>
                    <td class="td-print bg-gray-300 text-4xl">
                        Location
                    </td>
                </tr>
                <template v-for="i in 5">
                    <tr class="border-b border-gray-200" :class="(i%2 == 0) ? 'bg-blue-100' : 'bg-blue-200'">

                        <template v-if="patients[i-1]">
                            <td class="td-print text-9xl"
                                :class="(((dateNow.getTime() - new Date(patients[i-1].updated_at).getTime()) / 1000) < 60) ? 'bg-yellow-200 animate-pulse' : ''">
                                {{ patients[i-1].reason + patients[i-1].number }}
                            </td>
                            <td class="td-print text-5xl"
                                :class="(((dateNow.getTime() - new Date(patients[i-1].updated_at).getTime()) / 1000) < 60) ? 'bg-yellow-200 animate-pulse' : ''">
                                {{ patients[i-1].windowName }}
                            </td>
                        </template>

                        <template v-else>
                            <td class="td-print text-9xl">
                                &nbsp;
                            </td>
                            <td class="td-print text-5xl">
                                &nbsp;
                            </td>
                        </template>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            dateNow: new Date(),
            patients: [],
            queueSound: new Audio('/mp3/beep.mp3')
        }
    },
    methods: {
        getDashboardData() {
            axios.get('/dash-data')
                .then((response) => {
                    this.patients = response.data;
                })
        },
        playSound(times, interval) {
            for (let i = 0; i < times; i++) {
                setTimeout(() => this.queueSound.play(), i * interval);
            }
        }
    },
    watch: {
        // whenever patients change, this function will run
        patients(newPatients, oldPatients) {
            let newUpdatedAt = (newPatients.length > 0) ? newPatients[0]['updated_at'] : null;
            let oldUpdatedAt = (oldPatients.length > 0) ? oldPatients[0]['updated_at'] : null;
            if (oldUpdatedAt !== null && newUpdatedAt !== oldUpdatedAt) {
                this.playSound(3, 3000);
            }
        }
    },
    mounted() {
        const instance = this;
        instance.getDashboardData();
        setInterval(function () {
            instance.getDashboardData();
            instance.dateNow = new Date();
        }, 5000);
    },
}
</script>
