.radio {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2
}

.radio-label {
    @apply py-2 ml-2 w-full text-lg font-medium text-gray-900 duration-300 peer-checked:text-blue-700 peer-checked:font-bold peer-checked:text-xl
}

.radio-div {
    @apply flex items-center pl-4 rounded border border-gray-300 mx-1 mb-1
}

.btn-dropdown {
    @apply dropdown-toggle px-6 py-2.5 mx-1 bg-blue-600 text-white text-sm tracking-wider leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg active:text-white transition duration-150 ease-in-out flex items-center whitespace-nowrap;
}

.btn-green {
    @apply inline-block px-6 py-2.5 bg-green-500 font-bold text-lg leading-tight uppercase rounded-full shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out;
}

.btn-yellow {
    @apply inline-block px-6 py-2.5 bg-yellow-500 font-bold text-lg leading-tight uppercase rounded-full shadow-md hover:bg-yellow-600 hover:shadow-lg focus:bg-yellow-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-700 active:shadow-lg transition duration-150 ease-in-out;
}

.p-center {
    @apply text-center font-bold mb-2;
}

.input-text {
    @apply bg-gray-50 border border-gray-400 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
}

.floating-label {
   @apply absolute text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-100 peer-focus:-translate-y-4 left-1
}

.input-checkbox {
    @apply appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
}

.td-print {
    @apply py-1 px-4
}

.a-print {
    @apply inline-flex justify-center items-center py-2 px-3 mx-3 text-base font-medium rounded-lg duration-300 hover:scale-125
}

.td {
    @apply flex items-center px-0 py-1;
}

.th {
    @apply pb-3 pt-0 px-0;
}


.ul-dropdown {
    @apply w-full absolute bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none;
}

.a-dropdown {
    @apply dropdown-item py-2 px-4 font-normal block whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100;
}

.input-select {
    @apply form-select appearance-none block w-full px-3 py-1.5 text-base text-white bg-blue-700 font-normal bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded-full transition ease-in-out m-0 focus:border-blue-600 focus:outline-none;
}

.select-filter {
    @apply form-select appearance-none flex w-2/12 px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
}

.outer-div {
    @apply py-4
}

.disabled-link {
    pointer-events: none
}

/* .swal2-popup {
    font-size:1rem !important;
    font-family:Georgia, serif;
} */