<script setup>
import { Head, Link } from '@inertiajs/inertia-vue3';
import MarqueeText from 'vue-marquee-text-component';
import Table from '@/Components/Dashboard/Table.vue';
import Clock from '@/Components/Clock.vue';
import Date from '@/Components/Date.vue';

defineProps({
    title: String,
    canLogin: Boolean,
});

</script>
    
<template>

    <Head :title="title" />

    <div class="min-h-screen bg-gray-100">

        <div class="px-6 pb-4 pt-4 grid grid-cols-2">
            <div class="flex justify-start">
                <div>
                    <img src="/img/ncmh_logo.png" class="block h-16 w-auto" alt="ncmh_logo" />
                </div>
                <div class="flex items-center ml-3 text-5xl tracking-wide">
                    NCMH HEAR
                </div>
            </div>
            <div class="flex justify-end">
                <div v-if="canLogin" class="sm:block">
                    <Link v-if="$page.props.auth.user" :href="route('queue')" class="text-sm text-gray-700 underline">
                    Queue
                    </Link>

                    <template v-else>
                        <Link :href="route('login')" class="text-sm text-gray-700 underline">
                        Log in
                        </Link>
                    </template>
                </div>
            </div>
        </div>

        <div class="pb-12 px-5">
            <div class="bg-white shadow-sm sm:rounded-lg">
                <div class="bg-white border-b border-gray-200">
                    <div class="flex flex-col">
                        <div class="grid grid-cols-2 py-2 px-3">
                            <Date />
                            <Clock />
                        </div>

                        <!-- Queue and video -->
                        <div class="flex">
                            <div>
                                <Table />
                            </div>

                            <div class="w-full">
                                <!-- <iframe class="h-full w-full" src="https://www.youtube.com/embed/LmSVxQpVu4M"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe> -->
                                <div class="h-full w-full bg-slate-700"></div>
                            </div>
                        </div>

                        <!-- Marquee Text -->
                        <div>
                            <marquee-text class="text-4xl p-4" :duration="50">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna.&nbsp;
                            </marquee-text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>