<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Head, useForm } from '@inertiajs/inertia-vue3';

const form = useForm({
    patientType: 'New',
    reason: '',
    hpercode: '',
    name: '',
    contact: '',
    pregnant: false,
});

const submit = () => {
    form.post('/triage');
};

defineProps({
    title: String,
    header: String,
    options: Array,
});
</script>

<template>

    <Head :title="title" />

    <BreezeAuthenticatedLayout>
        <template #header> {{ header }} </template>

        <div class="outer-div">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <form @submit.prevent="submit">
                        <div class="p-center text-xl mt-4">
                            PATIENT TYPE:
                        </div>
                        <div class="flex justify-center mb-2">
                            <div class="radio-div w-1/3">
                                <input id="newPatient" type="radio" v-model="form.patientType" value="New"
                                    name="patientType" class="radio peer">
                                <label for="newPatient" class="radio-label">New Patient</label>
                            </div>
                            <div class="radio-div w-1/3">
                                <input id="followUp" type="radio" v-model="form.patientType" value="Follow-up"
                                    name="patientType" class="radio peer">
                                <label for="followUp" class="radio-label">Follow-up Patient</label>
                            </div>
                        </div>

                        <div class="p-center text-xl mr-2">
                            REASON FOR VISIT:
                        </div>
                        <div class="grid grid-cols-4 my-2 mx-6">
                            <div v-for="option in options" class="radio-div">
                                <input :id="'reason-' + option.symbol" v-model="form.reason" type="radio"
                                    :value="option.symbol" name="reason" class="radio peer" required>
                                <label :for="'reason-' + option.symbol" class="radio-label">{{ option.name }}</label>
                            </div>
                        </div>

                        <div class="p-center text-xl mt-2 mr-2 mb-2">
                            PATIENT INFORMATION:
                        </div>
                        <div class="flex mt-0 mb-2 mx-6">
                            <div class="flex w-full relative mx-1">
                                <input type="text" id="hpercode" v-model="form.hpercode"
                                    class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" " />
                                <label for="hpercode" class="floating-label"> Hospital Number</label>
                            </div>
                            <div class="flex w-full relative mx-1">
                                <input type="text" id="name" v-model="form.name"
                                    class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" " />
                                <label for="name" class="floating-label"> Complete Name </label>
                            </div>
                            <div class="flex w-full relative mx-1">
                                <input type="text" id="contact" v-model="form.contact"
                                    class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" " />
                                <label for="contact" class="floating-label"> Contact Number </label>
                            </div>
                        </div>

                        <div class="flex flex-col items-center mb-2">
                            <div>
                                <input type="checkbox" id="pregnant" v-model="form.pregnant" class="input-checkbox peer">
                                <label for="pregnant" class="text-lg duration-300 peer-checked:text-blue-700 peer-checked:font-bold peer-checked:text-xl"> Pregnant </label>
                            </div>
                        </div>
                        <div class="flex flex-col items-center mb-4">
                            <button 
                                class="inline-block text-white px-6 py-2.5 bg-green-500 font-bold text-lg leading-tight uppercase rounded-full shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out w-2/12">
                                Save </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>