<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Head, Link } from '@inertiajs/inertia-vue3';

defineProps({
    title: String,
    header: String,
    patientType: String,
    symbol: String,
    reason: String,
    number: Number,
    hpercode: String,
    name: String,
    contact: String,
    pregnant: Boolean,
});
</script>
        
<template>

    <Head :title="title" />

    <BreezeAuthenticatedLayout>
        <template #header> {{ header }} </template>

        <div class="outer-div">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-center text-xl mt-4">
                        QUEUE #:
                    </div>
                    <h1 class="p-center text-5xl font-bold mt-0 mb-6">{{ symbol }}{{ number }}</h1>

                    <div class="flex justify-center mb-4">
                        <table class="text-lg text-left">
                            <tbody>
                                <tr class="border-b border-gray-200">
                                    <td class="td-print">
                                        Patient Type
                                    </td>
                                    <td class="td-print bg-gray-100 font-bold">
                                        {{ patientType }}
                                    </td>
                                </tr>

                                <tr class="border-b border-gray-200">
                                    <td class="td-print">
                                        Reason for Visit
                                    </td>
                                    <td class="td-print bg-gray-100 font-bold">
                                        {{ reason }}
                                    </td>
                                </tr>

                                <tr class="border-b border-gray-200">
                                    <td class="td-print">
                                        Hospital #
                                    </td>
                                    <td class="td-print bg-gray-100 font-bold">
                                        {{ hpercode ?? 'N/A' }}
                                    </td>
                                </tr>

                                <tr class="border-b border-gray-200">
                                    <td class="td-print">
                                        Complete Name
                                    </td>
                                    <td class="td-print bg-gray-100 font-bold">
                                        {{ name ?? 'N/A' }}
                                    </td>
                                </tr>

                                <tr class="border-b border-gray-200">
                                    <td class="td-print">
                                        Contact #
                                    </td>
                                    <td class="td-print bg-gray-100 font-bold">
                                        {{ contact ?? 'N/A' }}
                                    </td>
                                </tr>

                                <tr class="border-b border-gray-200">
                                    <td class="td-print">
                                        Pregnant
                                    </td>
                                    <td class="td-print bg-gray-100 font-bold">
                                        {{ (pregnant) ? 'Yes' : 'No' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="flex justify-center mb-4">
                        <Link href="/triage" class="a-print bg-blue-900 text-white">
                            <span class="w-full">Add another</span>
                        </Link>
                        <Link href="#" class="a-print bg-slate-700 text-white">
                            <span class="w-full">Print</span>
                        </Link>
                        <Link href="/queue" class="a-print bg-yellow-500 text-white">
                            <span class="w-full">View queue</span>
                        </Link>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>
    
    <script>
    export default {
        methods: {
            submit(e) {
                this.form.post('/print-queue');
            }
        },
    }
    </script>
    