<script setup>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head, useForm } from "@inertiajs/inertia-vue3";
import moment from "moment";
import Swal from "sweetalert2";

defineProps({
  patients: Object,
  windows: Object,
});

const form = useForm({
  window: "",
  patientId: "",
  status: "",
});

const filter_form = useForm({
  page: 1,
  limit: 15,
  search: "",
  filter: [
    {
      type: "window",
      fdata: "",
    },
  ],
  sort: {
    data: "queueNo",
    order: "+",
  },
});
</script>
    
<template>
  <Head title="Queue" />

  <BreezeAuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Queue</h2>
    </template>

    <div class="outer-div">
      <div class="max-w-full mx-auto sm:px-6 lg:px-8">
        <div class="bg-white shadow-sm sm:rounded-lg">
          <div class="p-4 bg-white border-b border-gray-200">
            <div class="grid grid-cols-2 mb-2">
              <div class="relative">
                <!-- <input type="text" id="hpercode" v-model="filter_form.search" class="
                  block
                  px-2.5
                  pb-2.5
                  pt-3
                  text-lg text-gray-900
                  bg-transparent
                  rounded-lg
                  border-1 border-gray-300
                  appearance-none
                  focus:outline-none focus:ring-0 focus:border-blue-600
                  peer" placeholder=" " @keyup.enter="search($event)" />
                <label for="hpercode" class="floating-label">
                  Search by Queue #</label> -->

                <div class="flex">
                  <div class="relative w-80">
                    <input
                      type="search"
                      v-model="filter_form.search"
                      class="
                        block
                        p-2.5
                        w-full
                        z-20
                        text-md text-gray-900
                        bg-gray-50
                        rounded-r-lg rounded-l-lg
                        border-r-gray-100 border border-gray-300
                        focus:ring-blue-500 focus:border-blue-500
                        dark:bg-gray-700
                        dark:border-gray-600
                        dark:placeholder-gray-400
                        dark:text-white
                        dark:focus:border-blue-500
                      "
                      placeholder="Search by Queue No."
                    />
                    <button
                      type="button"
                      @click="postFilter"
                      class="
                        absolute
                        top-0
                        right-0
                        p-2.5
                        text-md
                        font-medium
                        text-white
                        bg-blue-700
                        rounded-r-lg
                        border border-blue-700
                        hover:bg-blue-800
                        focus:ring-4 focus:outline-none focus:ring-blue-300
                        dark:bg-blue-600
                        dark:hover:bg-blue-700
                        dark:focus:ring-blue-800
                        h-11
                      "
                    >
                      <svg
                        aria-hidden="true"
                        class="w-5 h-5"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                        ></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex flex-row-reverse">
                <div class="flex pt-2">
                  <div class="whitespace-nowrap px-2 pt-1 font-bold text-lg">
                    Location Filter:
                  </div>
                  <select
                    class="select-filter w-fit h-fit"
                    @change="filter('window', $event)"
                  >
                    <option selected value="">None</option>
                    <template v-for="({ window }, number) in windows">
                      <option :value="number">
                        {{ windows[number] }} &emsp;
                      </option>
                    </template>
                  </select>
                </div>

                <div class="flex pt-2">
                  <div class="whitespace-nowrap px-2 pt-1 font-bold text-lg">
                    Sort by:
                  </div>
                  <select
                    class="select-filter w-40 h-fit"
                    v-model="filter_form.sort.data"
                    @change="postFilter"
                  >
                    <option selected value="queueNo">Queue No.</option>
                    <option value="hospitalNo">Hospital No.</option>
                    <option value="time">Time</option>
                    <option value="patientName">Patient name</option>
                    <option value="reasonForVisit">Reason for visit</option>
                    <option value="location">Location</option>
                  </select>
                  <select
                    class="select-filter w-36 h-fit mx-1"
                    v-model="filter_form.sort.order"
                    @change="postFilter"
                  >
                    <option selected value="+">Descending</option>
                    <option value="-">Ascending</option>
                  </select>
                </div>
              </div>
            </div>

            <hr />

            <div class="mt-4">
              <table class="w-full whitespace-nowrap">
                <thead>
                  <tr class="text-left font-bold">
                    <th class="th">Queue #</th>
                    <th class="th">Hospital #</th>
                    <th class="th">Time</th>
                    <th class="th">Patient Name</th>
                    <th class="th">Reason for Visit</th>
                    <th class="th">Location</th>
                    <th class="th">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="patient in patients.data"
                    :key="patient.id"
                    class="hover:bg-gray-100 focus-within:bg-gray-100"
                  >
                    <!-- Queue # -->
                    <td class="border-t">
                      <div class="td" :id="'queueNum-' + patient.id">
                        {{ patient.reason + patient.number }}
                      </div>
                    </td>

                    <!-- Hospital # -->
                    <td class="border-t">
                      <div class="td">
                        {{ patient.hpercode }}
                      </div>
                    </td>

                    <!-- Time -->
                    <td class="border-t">
                      <div class="td">
                        {{ moment(patient.created_at).format("h:mm a") }}
                      </div>
                    </td>

                    <!-- Patient Name -->
                    <td class="border-t">
                      <div class="td">
                        ({{ patient.type.toUpperCase() }}) <br />
                        {{ patient.name }}
                      </div>
                    </td>

                    <!-- Reason for Visit -->
                    <td class="border-t">
                      <div class="td">
                        {{ patient.reasonName }}
                      </div>
                    </td>

                    <!-- Location -->
                    <td class="border-t">
                      <div class="td flex-col items-start">
                        {{ windows[patient.windowNumber] }}
                        <p
                          v-if="patient.status == 'calling'"
                          class="
                            text-white
                            font-bold
                            bg-red-600
                            rounded-lg
                            px-1
                          "
                        >
                          ({{ patient.status.toUpperCase() }})
                        </p>
                        <p
                          v-else-if="patient.status == 'out when called'"
                          class="font-bold rounded-lg px-1 bg-yellow-300"
                        >
                          ({{ patient.status.toUpperCase() }})
                        </p>
                        <p v-else>({{ patient.status.toUpperCase() }})</p>
                      </div>
                    </td>
                    <input
                      type="hidden"
                      :id="'windowNum-' + patient.id"
                      :value="windows[patient.windowNumber]"
                    />

                    <!-- Location -->
                    <td class="border-t">
                      <div class="flex items-center">
                        <button
                          @click="
                            updateStatus(
                              patient.patientId,
                              'calling',
                              patient.windowNumber,
                              $event
                            )
                          "
                          :class="
                            patient.status == 'waiting' ||
                            patient.status == 'out when called'
                              ? 'text-red-600'
                              : 'disabled-link text-gray-400'
                          "
                        >
                          <i class="fa-solid fa-square-phone fa-2xl mx-1"></i>
                        </button>
                        <button
                          @click="
                            updateStatus(
                              patient.patientId,
                              'out when called',
                              patient.windowNumber,
                              $event
                            )
                          "
                          :class="
                            patient.status == 'calling'
                              ? 'text-amber-400'
                              : 'disabled-link text-gray-400'
                          "
                        >
                          <i class="fa-solid fa-circle-pause fa-2xl mx-1"></i>
                        </button>
                        <!-- <select class="input-select mx-1" @change="transfer($event)"
                                                :id="patient.patientId">
                                                <option disabled selected hidden>Transfer to</option>
                                                <template v-for="({ window }, number) in windows">
                                                    <option v-if="patient.windowNumber != number" :value="number">
                                                        {{ windows[number] }} </option>
                                                </template>
                                            </select> -->
                        <div class="flex justify-center">
                          <div>
                            <div class="dropdown relative">
                              <button
                                class="btn-dropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              >
                                Transfer to
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  data-prefix="fas"
                                  data-icon="caret-down"
                                  class="w-2 ml-2"
                                  role="img"
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 320 512"
                                >
                                  <path
                                    fill="currentColor"
                                    d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
                                  ></path>
                                </svg>
                              </button>
                              <ul class="dropdown-menu ul-dropdown">
                                <li v-for="({ window }, number) in windows">
                                  <template
                                    v-if="patient.windowNumber != number"
                                  >
                                    <button
                                      class="a-dropdown"
                                      @click="
                                        transfer(patient.patientId, number)
                                      "
                                    >
                                      {{ windows[number] }}
                                    </button>
                                  </template>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr v-if="patients.data.length === 0">
                    <td class="px-6 py-5 border-t text-center" colspan="7">
                      No patients in the queue.
                    </td>
                  </tr>
                </tbody>
              </table>

              <hr class="mb-3" />

              <div class="grid grid-cols-3">
                <div class="flex col-span-1">
                  <span class="mr-2 mt-2">Show</span>
                  <select class="select-filter w-20" @change="limit($event)">
                    <option selected value="15">15</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="100">100</option>
                  </select>
                  <span class="ml-2 mt-2">entries</span>
                </div>

                <div class="col-span-1">
                  <nav aria-label="Page navigation example">
                    <ul class="flex list-style-none">
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            mr-2
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            focus:shadow-none
                            text-gray-800
                            hover:text-gray-800 hover:bg-gray-200
                          "
                          href="#"
                          @click="paginate(1)"
                          tabindex="-1"
                          >First Page</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            mr-2
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            focus:shadow-none
                            text-gray-800
                          "
                          v-if="patients.current_page == 1"
                          tabindex="-1"
                          ><i class="fa-solid fa-caret-left mr-1"></i>
                          Previous</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            mr-2
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            focus:shadow-none
                            text-gray-800
                            hover:text-gray-800 hover:bg-gray-200
                          "
                          href="#"
                          @click="paginate(patients.current_page - 1)"
                          v-if="patients.current_page > 1"
                          tabindex="-1"
                          ><i class="fa-solid fa-caret-left mr-1"></i>
                          Previous</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            mr-1
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            text-gray-800
                            hover:text-gray-800 hover:bg-gray-200
                            focus:shadow-none
                          "
                          href="#"
                          @click="paginate(patients.current_page - 1)"
                          v-if="patients.current_page > 1"
                          >{{ patients.current_page - 1 }}</a
                        >
                      </li>
                      <li class="page-item active">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            mr-1
                            rounded
                            border-0
                            bg-blue-600
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            text-white
                            hover:text-white hover:bg-blue-600
                            shadow-md
                            focus:shadow-md
                          "
                          >{{ patients.current_page }}
                          <span class="visually-hidden">(current)</span></a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            mr-1
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            text-gray-800
                            hover:text-gray-800 hover:bg-gray-200
                            focus:shadow-none
                          "
                          href="#"
                          v-if="patients.last_page > patients.current_page"
                          @click="paginate(patients.current_page + 1)"
                          >{{ patients.current_page + 1 }}</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            mr-1
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            text-gray-800
                            hover:text-gray-800 hover:bg-gray-200
                            focus:shadow-none
                          "
                          href="#"
                          v-if="
                            patients.current_page == 1 &&
                            patients.last_page - 1 > patients.current_page
                          "
                          @click="paginate(3)"
                          >3</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            ml-2
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            text-gray-800
                            hover:text-gray-800 hover:bg-gray-200
                            focus:shadow-none
                          "
                          href="#"
                          v-if="patients.current_page < patients.last_page"
                          @click="paginate(patients.current_page + 1)"
                          >Next <i class="ml-1 fa-solid fa-caret-right"></i
                        ></a>
                      </li>
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            ml-2
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            text-gray-800
                            focus:shadow-none
                          "
                          v-if="patients.current_page == patients.last_page"
                          >Next <i class="ml-1 fa-solid fa-caret-right"></i
                        ></a>
                      </li>
                      <li class="page-item">
                        <a
                          class="
                            page-link
                            relative
                            block
                            py-1.5
                            px-3
                            ml-2
                            rounded
                            border-0
                            bg-transparent
                            outline-none
                            transition-all
                            duration-300
                            rounded
                            focus:shadow-none
                            text-gray-800
                            hover:text-gray-800 hover:bg-gray-200
                          "
                          href="#"
                          @click="paginate(patients.last_page)"
                          tabindex="-1"
                          >Last Page</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>

                <div class="flex col-span-1 justify-end">
                  <span class="ml-2 mt-2">Showing</span>
                  <span class="ml-1 mt-2">{{ (patients.from) ? patients.from : 0 }}</span>
                  <span class="ml-1 mt-2">to</span>
                  <span class="ml-1 mt-2">{{ (patients.to) ? patients.to : 0 }}</span>
                  <span class="ml-1 mt-2">of</span>
                  <span class="ml-1 mt-2">{{ patients.total }}</span>
                  <span class="ml-1 mt-2">entries</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </BreezeAuthenticatedLayout>
</template>

<script>
export default {
  methods: {
    search(e) {
      this.filter_form["search"] = e.target.value;
      this.filter_form.post(route("filter"));
    },
    filter(type, e) {
      const fdata = e.target.value;
      const filters = this.filter_form["filter"];

      let i = 0;
      filters.forEach((e) => {
        if (e.type == type) {
          this.filter_form["filter"][i]["fdata"] = fdata;
        }

        i++;
      });

      this.filter_form.post(route("filter"));
    },
    paginate(pageNo) {
      this.filter_form["page"] = pageNo;

      this.filter_form.post(route("filter"));
    },
    limit(e) {
      this.filter_form["limit"] = e.target.value;

      this.filter_form.post(route("filter"));
    },
    postFilter() {
      this.filter_form.post(route("filter"));
    },
    updateStatus(patientId, status, window) {
      let instance = this;
      let queueNum = document.getElementById("queueNum-" + patientId).innerHTML;
      let windowName = document.getElementById("windowNum-" + patientId).value;
      if (status == "calling") {
        axios
          .post(route("exist.status"), {
            window: window,
            status: status,
          })
          .then(function (response) {
            if (response.data) {
              Swal.fire({
                icon: "error",
                title: "Not Allowed",
                html:
                  "A patient (" +
                  queueNum +
                  ") is already being called to " +
                  windowName +
                  ". <br> Only one patient can be called at a time.",
              });
              return false;
            } else {
              instance.showUpdateStatus(
                patientId,
                status,
                window,
                queueNum,
                windowName
              );
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      } else {
        instance.showUpdateStatus(
          patientId,
          status,
          window,
          queueNum,
          windowName
        );
      }
    },
    showUpdateStatus(patientId, status, window, queueNum, windowName) {
      let title, successTitle;
      switch (status) {
        case "calling":
          title = "Call " + queueNum + " to " + windowName + "?";
          successTitle = "Called " + queueNum + " to " + windowName + ".";
          break;
        case "out when called":
          title = "Stop calling " + queueNum + " to " + windowName + "?";
          successTitle =
            "Stoped calling " + queueNum + " to " + windowName + ".";
          break;
      }

      Swal.fire({
        title: title,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          this.form.patientId = patientId;
          this.form.status = status;
          this.form.window = window;
          this.form.post(route("update.status"), {
            onFinish: (response) => {
              Swal.fire({
                position: "top-end",
                icon: "success",
                title: successTitle,
                showConfirmButton: false,
                timer: 1500,
              });
            },
          });
        }
      });
    },
    transfer(patientId, value) {
      let queueNum = document.getElementById("queueNum-" + patientId).innerHTML;
      let originWindow = document.getElementById(
        "windowNum-" + patientId
      ).value;
      let selectedWindow = this.windows[value];
      Swal.fire({
        title:
          "Transfer " +
          queueNum +
          " from " +
          originWindow +
          "<br> to " +
          selectedWindow +
          "?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          this.form.window = value;
          this.form.patientId = patientId;
          this.form.post(route("transfer"), {
            onFinish: () => {
              Swal.fire({
                position: "top-end",
                icon: "success",
                title:
                  "Transferred " + queueNum + "<br> to " + selectedWindow + ".",
                showConfirmButton: false,
                timer: 1500,
              });
            },
          });
        }
      });
    },
  },
};
</script>
    