<template>
    <div class="flex justify-end text-4xl">{{clock}}</div>
</template>

<script>
export default {
    data() {
        return {
            clock: '',
        }
    },
    methods: {
        getClock() {
            let dateNow, hours, minutes, seconds, clock;
            dateNow = new Date();
            hours = dateNow.getHours();
            minutes = dateNow.getMinutes();
            seconds = dateNow.getSeconds();
            this.clock = (((hours % 12) == 0) ? '12' : (hours % 12)) + ':' + ((minutes < 10) ? '0' + minutes : minutes) + ':' + ((seconds < 10) ? '0' + seconds : seconds) + ' ' + ((hours > 12) ? 'PM' : 'AM');
        }
    },
    mounted() {
        const instance = this;
        instance.getClock();
        setInterval(function () {
            instance.getClock();
        }, 1000);
    },
}
</script>