<template>
    <div class="flex justify-start text-4xl">{{dateToday}}</div>
</template>

<script>
export default {
    data() {
        const dateNow = new Date();
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        return {
            dateToday: months[dateNow.getMonth()] + ' ' + dateNow.getDate() + ', ' + dateNow.getFullYear() + ' (' + days[dateNow.getDay()] + ')',
        }
    }
}
</script>