<script setup>
import BreezeApplicationLogo from '@/Components/ApplicationLogo.vue';
import { Link } from '@inertiajs/inertia-vue3';
</script>

<template>
    <div class="min-h-screen py-4 flex flex-col sm:justify-center items-center sm:pt-2 bg-gray-100">
        <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
            <div class="flex justify-center mb-2">
                <Link href="/">
                <!-- <BreezeApplicationLogo class="w-20 h-20 fill-current text-gray-500" /> -->
                <img src="/img/ncmh_logo.png" class="w-40 h-40 fill-current text-gray-500" alt="ncmh_logo" />
                </Link>
            </div>

            <div class="font-hairline text-xl text-center mb-2">
                Hospital Express Assistance and Registration (HEAR)
            </div>
            <slot />
        </div>
    </div>
</template>
